.calendar-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 25px;
}

.calendar-card {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color: white;
    color: black;
  }
  
  mat-calendar {
    width: 100%;
  }
  
  .relevant-dates {
    margin-top: 20px;
  }
  
  .date-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
  }
  
  .date-item .dot {
    height: 12px;
    width: 12px;
    background-color: #4caf50;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }

  mat-card-content{
    padding: 0;
  }

  ::ng-deep .mat-calendar-body-cell-content, ::ng-deep .mdc-button__label, ::ng-deep .mat-calendar-next-button, ::ng-deep .mat-calendar-previous-button, ::ng-deep .mat-calendar-table-header th, ::ng-deep .mat-calendar-body-label {
    color: black !important;
  }
  