<h1 mat-dialog-title class="dialog-header">Cadastre um novo pet</h1>
<div mat-dialog-content class="dialog-content">
    <input matInput placeholder="Nome" [(ngModel)]="data.name">
    <input matInput placeholder="Idade" type="number" [(ngModel)]="data.age">
    <input matInput placeholder="Cor"  [(ngModel)]="data.color">
    <select placeholder="Gênero" [(value)]="data.gender">
      <option value="M">Macho</option>
      <option value="F">Fêmea</option>
    </select>
</div>
<div mat-dialog-actions class="dialog-footer">
  <button mat-button (click)="onNoClick()" class="back-button">Voltar</button>
  <button mat-button [mat-dialog-close]="data" class="default-button">Cadastrar</button>
</div>
