<div class="dialog-container">
    <p mat-dialog-title class="title">Cadastro de evento</p>
    <p mat-dialog-title>Data: {{data.date | date}}</p>
    <div mat-dialog-content>
        <input [(ngModel)]="data.description" placeholder="descrição">
    </div>

    <div mat-dialog-actions class="dialog-footer">

        <button mat-button (click)="onCancel()" class="back-button">Voltar</button>
        <button mat-button (click)="onSave()" class="default-button">Salvar</button>
      </div>
</div>


