<div class="login-container">

    <h2>Pet Care</h2>

    <mat-card>
        <mat-card-title>Login</mat-card-title>
    <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      
          <input type="email"  placeholder="Email" formControlName="username">
       
          <input type="password"  placeholder="Password" formControlName="password">
    
      <p *ngIf="error" class="error">
        {{ error }}
      </p>
    
      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>
    
    </form>
    </mat-card-content>
    </mat-card>
    
    
    <span [routerLink]="['/register']" routerLinkActive="router-link-active"  class="bottom-span">Cadastre-se</span>
</div>

