<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'" class="drawer">
      <nav class="nav-links">
        <a mat-button routerLink="/home" (click)="drawer.toggle()">Home</a>
        <a mat-button routerLink="/meus-pets" (click)="drawer.toggle()">Meus Pets</a>
        <a mat-button routerLink="/lembretes" (click)="drawer.toggle()">Lembretes</a>
        <a mat-button routerLink="/calendario-de-vacinas" (click)="drawer.toggle()">Calendário de vacinas</a>
        <a mat-button routerLink="/rotinas" (click)="drawer.toggle()">Rotinas</a>
      </nav>
      <mat-divider></mat-divider>
      <a mat-button id="logout" routerLink="/login" (click)="drawer.toggle()">Logout</a>
    </mat-drawer>
    <mat-drawer-content>
      <mat-icon (click)="drawer.toggle()" aria-hidden="false" aria-label="Menu icon" fontIcon="menu"></mat-icon> 

      <div class="content">
        <router-outlet></router-outlet>   
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  