   <div class="content-container">
    <h2>Meus pets</h2>
     
    <mat-card class="pet-card" *ngFor="let pet of pets">
       <mat-card-header>
         <mat-card-title>{{ pet.name }}</mat-card-title>
       </mat-card-header>
       <mat-card-content>
         <p>Idade: {{ pet.age > 1 ? pet.age + ' anos' : pet.age + ' ano'}}</p>
         <p>Gênero: {{ pet.gender }}</p>
         <p>Cor: {{ pet.color }}</p>
       </mat-card-content>
     </mat-card>


 
 <button mat-fab color="primary" class="add-pet-button" aria-label="Add Pet" (click)="openAddPetDialog()" class="add-button">
   <mat-icon>add</mat-icon>
 </button>
 
   </div>
   
   